@import "../styles/vars.scss";

.a {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    margin-bottom: -4px;
    margin-top: -8px;
    fill: none;
    stroke-width: 2;
    stroke: color(primaryFocus);
    path {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      transition: stroke-dashoffset 1s linear;
    }
  }
  &:hover {
    svg {
      path {
        stroke-dashoffset: 0;
      }
    }
  }
}

.span {
  //to expand the area of pointer
  padding: 12px 0;
}
