@import "../styles/vars.scss";

.parent {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: space(2);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 1px solid color(primary);
  color: color(primary);
  background-color: transparent;
  transition: background 0.2s $snap-tf;
  &:hover {
    background-color: color(base);
    > * {
      height: 0; //set to 50 for each child of this `button`
    }
  }
}

.child {
  display: flex;
  flex-direction: column-reverse;
  transition: height 0.2s $snap-tf var(--transition-delay);
  height: 50px;
  margin-top: 10px;
  --transition-delay: 0s;
  &:first-child {
    --transition-delay: 0.1s;
  }
}
