.btn {
  padding: 0;
  display: block;
  position: relative;
  height: 50px;
  width: 200px;
  border: 2px solid #72c4ff;
  margin: 0 auto;
  top: 175px;
  text-transform: uppercase;
  color: #fff;
  background-color: #57b5f9;
  outline: none;
  transition: background 0.6s ease-out;
  box-sizing: border-box;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    background-color: #4f95da;
    svg polyline {
      stroke-dashoffset: -500;
    }
  }
}

svg {
  position: absolute;
  left: -2px;
  top: -2px;
  fill: none;
  stroke: #fff;
  width: 200px;
  height: 50px;
}

polyline {
  stroke: #fff;
  stroke-width: 4px;
  stroke-dashoffset: 200;
  stroke-dasharray: 200 500;
  transition: all 0.6s ease-in-out;
}
