@import "../styles/vars.scss";

.header {
  padding: space(3);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: space(5);
  z-index: 900;
}

.curtain {
  background-color: color(base);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &::before {
    content: "";
    margin-left: space(3);
    margin-right: space(3);
    position: absolute;
    top: -1;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid color(primary);
  }
  transition: height 0.5s ease-in-out;
}
