@import "../styles/vars.scss";

.section {
  border-bottom: 1px solid color(primary);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
  margin: 0 $xPadding;
}

.third1 {
  display: none;
  @include media-lg {
    grid-column: 1;
    display: block;
  }
}

.thirds2 {
  // max-height: 80vh;
  grid-column: span 4;
  @include media-lg {
    grid-column: span 3;
  }

  background-color: color("base");
  border-top: 1px solid color(primary);

  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  @include media-md {
    grid-template-columns: repeat(2, 1fr);
  }
}

.aspect {
  align-self: flex-start;
  @include media-sm {
    max-height: 85vh !important;
    height: 85vh !important;
    overflow: hidden;
    position: relative;
    > * {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.text {
  padding: space(10) 0;

  @include media-md {
    padding-left: space(10);
  }

  p {
    padding-bottom: space(8);
  }
}
