@import "../styles/vars.scss";

@import "../styles/styles.scss";

:root {
  @include setColors();
  color: color(text);
  background-color: color("background");

  font-size: 1rem;
  font-family: $sanSerif;
  font-weight: 100;
  letter-spacing: 1px;
}

* {
  padding: 0;
  margin: 0;
}

h1,
.h1 {
  @include h1;
}

p {
  @include body1;
}

.body1 {
  @include body1;
}

.body2 {
  @include body2;
}

.body3 {
  @include body3;
}

a {
  @include body3;
  color: color(primary);
  text-decoration: none;
  &:hover {
    color: color(primaryFocus);
  }
}
