$serif: "Perpetua Titling MT", Georgia, "Times New Roman", Times, serif;
$sanSerif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$breakpoint: 500px 700px 1000px;

@mixin media-sm {
  @media (max-width: 699px) {
    @content;
  }
}
@mixin media-md {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin media-md-only {
  @media (min-width: 700px) and (max-width: 999px) {
    @content;
  }
}
@mixin media-md-down {
  @media (max-width: 999px) {
    @content;
  }
}
@mixin media-lg {
  @media (min-width: 1000px) {
    @content;
  }
}
@mixin media-lg-only {
  @media (min-width: 1000px) and (max-width: 1299px) {
    @content;
  }
}
@mixin media-lg-down {
  @media (max-width: 1299px) {
    @content;
  }
}
@mixin media-xl {
  @media (min-width: 1300px) {
    @content;
  }
}

$spaces: 0, 4, 8, 12, 16, 24, 32, 40, 48, 64, 80, 96;

@function space($nth, $unit: px) {
  @return nth($list: $spaces, $n: $nth + 1) + $unit;
}

$colors: (
  primary: #a6d1c9,
  primaryFocus: #d2fff6,
  text: #a6d1c9,
  base: #282b29,
  background: #282b29,
);
$colors-theme1: (
  primary: #b82927,
  primaryFocus: #a01d19,
  text: #b82927,
  base: #a6d1c9,
  background: #a6d1c9,
);

$colors-theme2: (
  primary: #282b29,
  primaryFocus: #161817,
  text: #282b29,
  base: #f4c4c4,
  background: #f4c4c4,
);

$snap-tf: cubic-bezier(0.075, 0.82, 0.165, 1);

@mixin setColors {
  body {
    color: color(text);
    background-color: color("background");
    transition: color 500ms $snap-tf, background-color 500ms $snap-tf;
  }

  body.theme0,
  body {
    @each $key, $val in $colors {
      --c-#{$key}: #{$val};
    }
  }

  body.theme1 {
    @each $key, $val in $colors-theme1 {
      --c-#{$key}: #{$val};
    }
  }

  body.theme2 {
    @each $key, $val in $colors-theme2 {
      --c-#{$key}: #{$val};
    }
  }
}

@function color($name) {
  @return var(--c-#{$name});
}

$xPadding: space(6);
$yPadding: space(4);
