$serif: "Perpetua Titling MT", Georgia, "Times New Roman", Times, serif;
$sanSerif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$breakpoint: 500px 700px 1000px;

@mixin media-sm {
  @media (max-width: 699px) {
    @content;
  }
}
@mixin media-md {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin media-md-only {
  @media (min-width: 700px) and (max-width: 999px) {
    @content;
  }
}
@mixin media-md-down {
  @media (max-width: 999px) {
    @content;
  }
}
@mixin media-lg {
  @media (min-width: 1000px) {
    @content;
  }
}
@mixin media-md-only {
  @media (min-width: 1000px) and (max-width: 1299px) {
    @content;
  }
}
@mixin media-lg-down {
  @media (max-width: 1299px) {
    @content;
  }
}
@mixin media-xl {
  @media (min-width: 1300px) {
    @content;
  }
}

$spaces: 0, 4, 8, 12, 16, 24, 32, 40, 48, 64, 80, 96;

@function space($nth, $unit: px) {
  @return nth($list: $spaces, $n: $nth + 1) + $unit;
}

$colors: (
  primary: #a6d1c9,
  primaryFocus: #d2fff6,
  text: #a6d1c9,
  base: #282b29,
  background: #282b29,
);

@mixin setColors {
  @each $key, $val in $colors {
    --c-#{$key}: #{$val};
  }
}

@function color($name) {
  @return var(--c-#{$name});
}

$snap-tf: cubic-bezier(0.075, 0.82, 0.165, 1);

$xPadding: space(6);
$yPadding: space(4);
